body{
    background-color: aqua;
}

h1{
    background-color: pink;
    text-align: center;
}
h2{
    background-color: burlywood;
    text-align: center;
}

dt{
    background-color: palevioletred;
    margin-bottom: 1em;
}

footer{
    background-color: pink;
    text-align: center;
}
